
@font-face {
    font-family: "Inter-Bol";
    src: url(../fonts/Inter-Bold.ttf);
  }

.BtnSavePhoto{
    background: #68AFAE;
    width: 360px;
    height: 60px;
    color: #FFF;
    font-size: 32px;
    font-family: "Inter-Bol";
    border-radius: 10px;
    margin-right: 100px;
}