.hiddenMenu {
  position: relative;
}

.menuIcon {
  cursor: pointer;
  .bar {
    width: 30px;
    height: 4px;
    margin: 6px 0;
    background-color: #333;
    transition: transform 0.3s, opacity 0.3s;
  }

  &.active .bar:first-child {
    transform: rotate(-45deg) translate(-5px, 6px);
  }

  &.active .bar:nth-child(2) {
    opacity: 0;
  }

  &.active .bar:last-child {
    transform: rotate(45deg) translate(-5px, -6px);
  }
}

.menuContent {
  position: fixed;
  top: 0;
  right: -50%;
  width: 50vw;
  height: 100vh;
  background-color: #fff;
  transition: right 0.3s;
  overflow-y: auto;

  &.visible {
    right: 0;
  }
}
