* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Inter-Bol";
  src: url(../fonts/Inter-Bold.ttf);
}

.applicationForm3 {
  &__mainDiv {
    display: flex;
    flex-direction: column;
    margin-bottom: 63px;
  }
  &__divButton {
    display: flex;
    justify-content: center;
    margin-bottom: 160px;
  }
}

.mainDiv {
  &__compForm {
    display: flex;
    justify-content: space-around;
  }
}

.titleThisDiv {
  &__titl {
    color: #14164a;
    font-size: 32px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    font-family: "Inter-Bol";
  }
}

.user {
  &__input {
    border: 0;
    width: 145px;
    height: 37px;
    border-radius: 10px;
    background: #d9d9d9;
  }

  &__lab {
    display: flex;
    justify-content: flex-start;
    color: #000;
    font-size: 16px;
    font-weight: 700;
    font-family: "Inter-Bol";
  }
}
.divButton {
  &__b {
    margin: 0 10px;
    border-radius: 10px;
    background: rgba(108, 176, 176, 0.91);
    width: 233px;
    height: 39px;
    color: #fff;
    font-size: 16px;
    font-weight: 800;
    font-family: "Inter-Bol";
  }
}
