
@font-face {
    font-family:"Inter-Bol" ;
    src: url(../fonts/Inter-Bold.ttf);
}

.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    width:320px;
    height: 65px;
    border-radius: 10px;
    border: none;
    background-color: #b7d1d3;
    color: white;
    font-family:"Inter-Bol" ;
    margin-bottom: 70px;
    &__img{
        margin-right: 10px;
    }
    &__text{
        margin: 0;
        font-size: 20px;
    }
}