@font-face {
    font-family:"Inter-Bol" ;
    src: url(../fonts/Inter-Bold.ttf);
}

.btnAutomatic{
    background: #6BB0B6;
    color: white;
    border: none;
    border-radius: 10px;
    width: 450px;
    height: 75px;
    color: white;
    font-size: 24px;
    font-family:"Inter-Bol" ;
    margin-right: 265px;
}
